/* General Navbar container styling */
.navbar-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}

.logo-text {
  font-weight: bold;
}

/* Navigation Links - Top Right Alignment */
.nav-links {
  margin-left: auto;
}

.nav-links .nav-link {
  font-size: 1.2rem;
  color: white !important;
  margin-left: 20px; /* Add spacing between links */
}

.nav-links .nav-link:hover {
  color: #f8f9fa !important;
}

/* Remove border shadow effect for Navbar toggle */
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

/* Remove text animation */
.loading-text {
  animation: none;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .nav-links {
    text-align: center;
  }
  .nav-links .nav-link {
    font-size: 1rem;
    margin: 10px 0;
  }
}
